.wrapper {

    width: 80%;
    margin: 0 auto;

    .container {

        display: flex;
        gap: 1rem;
    }

    .container div {

        cursor: pointer;
        // DEBUG
        background-color: antiquewhite;
    }
}

