
<div class="wrapper">

  <!-- Hero section -->
  <div class="hero">
    
    <h1>
      <i>
        <span>
          your 
        </span>
        Things.
      </i>
    </h1>  
  </div>

  <!-- TODO LIST SCHEMA -->
  
  <div class="container">
    
    <div (click)="filter('done')">Done</div>
    <div (click)="filter('to do')">ToDo</div>
  </div>
  
  <!-- COMPONENTE LISTA -->
  <!-- <app-list [inputStatus]="inputStatus"></app-list> -->
  
  <!-- COMPONENTE -->
  <!-- <app-form></app-form> -->

  <router-outlet></router-outlet>
</div>
