.wrapper {

    width: 80%;
    margin: 0 auto;
    padding: 1rem;

    .hero {

        height: calc(40vh - 1rem);
        background-image: url('../assets/WP.jpg');
        background-size: contain;
        border-radius: 40px 0 40px 0;
        position: relative;

        h1 {

            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-40%, -50%);
            font-family: 'Playfair Display', serif;
            font-size: 60px;
            color: #146C94;

            span {

                -webkit-text-stroke: 1px #fff;
                color: transparent;
            }
        }
    }
}

