<div class="container">
    
    <div class="label" (click)="filter('done')">Done</div>
    <div class="label" (click)="filter('to do')">ToDo</div>
</div>

<!-- LISTA DELLE ATTIVITA' DA SVOLGERE -->
<div class="flex">

    <div class="wrapper">
    
        <ul>
            <li *ngFor="let task of toDoList; index as id">
                <ng-container *ngIf="task.status === inputStatus">
                    <div class="style">
                        
                        <p>
        
                            {{ task.name }}
                        </p>
                        <div class="btns">
        
                            <button (click)="delete(task)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button (click)="completeTask(id)">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button (click)="goToDetail(id)">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </li>
        </ul>
        
        <!-- COUNTER -->
        <div class="container">
            
            <div>Total: {{ totalTasks }}</div>
            <div>Done: {{ doneTasks }}</div>
        </div>
    </div>
    
    <!-- FORM DI INSERIMENTO NUOVA ATTIVITÁ -->
    <app-form></app-form>
</div>
