<div class="border">
    
    <div class="content">

        <p>{{ task.name }}</p>
        <p class="date">20 June 2023</p>
        
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio maxime expedita sint sit veritatis dolorum, 
            voluptatum minima officia, vero, ad magnam. Possimus, voluptas fuga voluptatem esse perspiciatis voluptate aperiam 
            inventore.</p>

        <form [formGroup]="myForm" (ngSubmit)="updateTask()">
            
            <input type="text" formControlName="taskName" [ngModel]="taskNameControl.value">
            <input class="btn" type="submit" value="AGGIORNA">
        </form>
    </div>
</div>
